.portfolio-footer-icons { 
    align-items:center; 
    display:flex; 
    justify-content:center; 
}
.portfolio-footer-icons .portfolio-footer-icon {
    margin:10px 25px; 
}
.portfolio-footer-icons .portfolio-footer-icon { 
    width:40px; 
}

/* .portfolio-footer-icons .portfolio-footer-icon:hover { 
    width:65px; 
} */